.card {
  transition: 1s;
  div {
    .h4 {
      transition: 1s;
    }
  }
  &:hover {
    transition: 1s;
    box-shadow:  -5px -5px 20px  rgb(0, 247, 255),
  5px 5px 20px rgb(115, 0, 128);
    div {
      .h4 {
        transition: 1s;
        scale: 1.1;
      }
    }
  }
}

.equal-height {
  align-items: stretch; /* default, but explicit */
}

.equal-height > [class*="col-"] {
  display: flex;
}

.equal-height .card {
  flex: 1;
}