.back {
  // background: url('../../../../public/assets/welcome/cloud.png');
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  top: 0px;
  opacity: 0.4;
  position: fixed;
}
#myVideo {
  position: fixed;
  right: 0;
  top:300px;
  bottom: -50px;
  opacity: 0.7;
}
h1 {
  font-size: 8vw;
}
h2 {
  font-size: 2.5vw;
}
.hoverable {
  transition: 1s;
  width: 170px;
  cursor: pointer;
  overflow: hidden;
  .explore {
    border: 5px solid black;
    width: 150px;
    transition: 1s;
    color: black !important;
    font-weight: bold;
  }
  &:hover {
    transition: 1s;
    .explore {
      transition: 1s;
      background-color: black;
      color: white !important;
    }
  }
}
.bg-gradient {
  background: -webkit-linear-gradient(top, rgb(234, 234, 220) 1%, #fcf9f5);
}
