<div
  class="container d-flex justify-content-center align-items-center py-5"
  [ngStyle]="{ height: height }"
>
  <div class="row py-5">
    <div class="col-12 p-3 my-5 z-2">
      <div
        class="box rounded"
        pTooltip="This is a prime ng tooltip"
        tooltipPosition="right"
        matTooltip="This is a material tooltip"
        matTooltipPosition="below"
      >
        <div
          class="border p-5 rounded d-flex flex-column justify-content-end align-items-end bg-light"
        >
          <p class="h2">Come take a look</p>
          <button class="btn btn-warning w-25" routerLink="explore">Enter</button>
        </div>
      </div>
    </div>
  </div>
</div>
