h1 {
  font-size: 9vw;
}
h2 {
  font-size: 3vw;
}
.hoverable {
  transition: 1s;
  width: 140px;
  cursor: pointer;
  overflow: hidden;
  h3 {
    width: 130px;
    transition: 1s;
  }
  p {
    width: 130px;
    bottom: -15px;
    left: -200px;
    transition: 1s;
  }
  &:hover {
    transition: 1s;
    h3 {
      transition: 1s;
      scale: 1.05;
    }
    p {
      transition: 1s;
      scale: 1.05;
      bottom: -15px;
      left: 0px;
    }
  }
}
