<div class="back w-100" [ngStyle]="{ 'height': height }"></div>
  <div class="row p-5 mt-5">
    <div class="col-12 pt-5 mt-5">
      <h1><b>Raffaele</b> Caravetta</h1>
    </div>
    <div class="col-12">
      <h2 class="pl-5">
        <u> Professional Web Developer </u>
      </h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div
        class="col-12 p-5 mt-5 text-right d-flex justify-content-end flex-column align-items-end"
      >
        <div class="pt-4 mr-5 position-relative hoverable">
          <h3 class="text-center" routerLink="./explore">EXPLORE</h3>
          <p class="p-1 bg-dark position-absolute"></p>
        </div>
      </div>
    </div>
  </div>

