.welcome-bg {
  background-image: url('/assets/welcome/cyber.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: scroll;
  div {
    z-index: 3 !important;
  }
}
