<div class="container">
  <p-toast></p-toast>
  <div class="row">
    <div class="col-12 cover d-flex justify-content-center align-items-center">
      <div class="text-white text-center">
        <h1>Your restaurant</h1>
        <p>Where passion meet food</p>
      </div>
    </div>
    @for(i of items;track i.id){
    <div class="col-4 text-center py-2">
      <button
        class="btn border border-dark menu-voice position-relative"
        (click)="section = i.value"
      >
        {{ i.value }}
        @if(i.value=='Chart'){
        <span class="position-absolute chart-count rounded rounded-circle p-1 px-2">{{
          chart.length
        }}</span>
        }
      </button>
    </div>
    } @if (section=='Home') {
    <div class="col-12 py-5 text-center">
      <p class="h3">LOREM IPSUM!</p>
      <p class="h5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. !
      </p>
      <p class="h3 pt-5">DOLOR SIT AMET</p>
      <p class="h5">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
        architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
        aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
        voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
        consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
        dolore magnam aliquam quaerat voluptatem.
      </p>
      <p class="h3 pt-5">CONSECTETUR ADIPISCING</p>
      <p class="h5">
        Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
        nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea
        voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo
        voluptas nulla pariatur?
      </p>
    </div>
    <div class="col-12 py-5 text-center">
      <button class="btn p-5 border border-dark menu-voice" (click)="section = 'Menu'">
        <span class="h3">ORDER HERE</span>
      </button>
    </div>
    <div class="col-md-4 text-center">
      <p class="h3">LOCATION</p>
      <p class="h5">112 Planet Earth, CA 91801</p>
    </div>

    <div class="col-md-4 text-center">
      <p class="h3">HOURS</p>
      <p class="h5">
        Brunch: Thursday, Friday & Monday, 9am to 2:00pm Saturday & Sunday, 9am to 2:30pm Dinner:
        Thursday & Sunday, 5pm to 9pm Friday & Saturday, 5pm to 9:30pm Closed Tuesdays & Wednesdays
      </p>
    </div>

    <div class="col-md-4 text-center">
      <p class="h3">CONTACT</p>
      <p class="h5">(435) 249-1275 awesome@restaurant.ng</p>
    </div>

    <div class="col-md-6 py-5">
      <img src="/assets/restaurant/food.jpg" alt="" class="w-100" />
      <p class="h4 text-right pt-3">Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="col-md-6 py-5">
      <img src="/assets/restaurant/foods.webp" alt="" height="600px" class="w-100" />
    </div>
    <div class="col-12 py-5 text-center">
      <p class="h3">FIND US HERE</p>
      <p>(spoiler: click on the figures)</p>
      <app-leaflet-map></app-leaflet-map>
    </div>
    }@else if(section =='Menu'){
    <div class="col-12 text-center py-5">
      <p class="h3">OUR PROPOSAL</p>
    </div>
    @for (item of menu; track $index) {
    <div class="col-12 py-5 text-center">
      <p class="h4">{{ item.menuVoice }}</p>
    </div>
    @for (i of item.items; track i.nome) {
    <div class="col-md-6 text-center">
      <p class="h4">
        <b> {{ i.nome }} </b> - {{ i.prezzo | currency : 'EUR' }}
        <button
          class="btn text-success"
          pTooltip="Add {{ i.nome }} to chart"
          (click)="confirmItem(i, 'add')"
        >
          <i class="pi pi-plus"></i>
        </button>
      </p>
      <p class="h5">
        {{ i.ingredienti }}
      </p>
    </div>
    } }
    <div class="col-12 py-5 my-5 text-right">
      <p class="h3">"Lorem ipsum dolor sit amet"</p>
      <p class="h4">- Willy il Coyote</p>
    </div>
    }@else {
    <div class="col-12 py-5 text-center">
      <p class="h3">CHART</p>
    </div>
    <div class="overflow-auto row w-100" style="height: 400px">
      @for (i of chart; track $index) {
      <div class="col-12 w-100 text-center">
        <p class="h4">
          <b> {{ i.nome }} </b> - {{ i.prezzo | currency : 'EUR' }}
          <button
            class="btn text-success"
            pTooltip="Remove {{ i.nome }} from chart"
            (click)="confirmItem(i, 'remove')"
          >
            <i class="pi pi-minus"></i>
          </button>
          <button
            class="btn text-success"
            pTooltip="Edit {{ i.nome }}"
            (click)="confirmItem(i, 'modify')"
          >
            <i class="pi pi-pencil"></i>
          </button>
        </p>
        <p class="h5">
          {{ i.ingredienti }}
        </p>
        <p class="h5">Additional notes :</p>
        <p class="h6">{{ i?.note || '/' }}</p>
      </div>
      }@empty{
      <div class="col-12">
        <p class="h3">Chart is empty.</p>
      </div>
      }
    </div>
    <div class="col-12">
      <p class="h2 mx-2">Totale: {{ getTotal(chart) | currency : 'EUR' }}</p>
      @if(!paymentOpened && getTotal(chart) > 0){
      <p class="mx-2">
        <button class="btn pt-2 h3 btn-success" (click)="paymentOpened = true">Pay</button>
      </p>
      } @if(paymentOpened){
      <div class="bg-light border p-2 row my-5">
        <div class="col-12">
          <p class="h5"><i class="pi pi-lock"></i> Your payment is secure</p>
          <form [formGroup]="paymentForm" (ngSubmit)="pay()" class="py-2 row">
            <div class="col-12">
              <label for="cardNumber" class="py-2">Card number</label>
              <input
                type="tel"
                formControlName="cardNumber"
                class="form-control"
                placeholder="0000 0000 0000 0000"
                maxlength="19"
                (input)="adeguateCardNumberValue($event)"
              />
              <p class="text-danger pt-1">
                @if(paymentForm.controls['cardNumber'].hasError('required')&& paymentForm.controls['cardNumber'].touched){ Il campo è richiesto.
                }@else if(paymentForm.controls['cardNumber'].hasError('pattern')&& paymentForm.controls['cardNumber'].dirty){
                Inserire un formato numerico tipo 1111 1111 1111 1111 }@else if(paymentForm.controls['cardNumber'].hasError('minlength')&& paymentForm.controls['cardNumber'].dirty){ Lunghezza
                minima 16 caratteri } @else if(paymentForm.controls['cardNumber'].hasError('maxlength')&& paymentForm.controls['cardNumber'].dirty){
                Lunghezza massima 16 caratteri }@else if(paymentForm.controls['cardNumber'].dirty){
                  <p class="text-success">Campo corretto</p>
                }
              </p>
            </div>
            <div class="col-md-8">
              <label for="expirationDate" class="py-2">Expiration date</label>
              <p class="form-control">
                <input type="number" class="border-0" placeholder="MM / " style="width: 45px;" formControlName="expirationMonth"
                min="1" max="12" (input)="limitExpirationMonth()">
                {{paymentForm.controls['expirationMonth'].value?'/':''}}
                <input type="number" min="{{currentYear}}" placeholder="YY" class="border-0" formControlName="expirationYear" 
                (input)="limitExpirationYear()">
              </p>
              <p class="text-danger pt-1">
                @if((paymentForm.controls['expirationMonth'].hasError('required')&& paymentForm.controls['expirationMonth'].touched) ||(paymentForm.controls['expirationYear'].hasError('required')&& paymentForm.controls['expirationYear'].touched)){ Il campo è richiesto.
                }@else if(paymentForm.controls['expirationMonth'].hasError('min')&& paymentForm.controls['expirationMonth'].dirty){ Mese minimo : 01 }@else if(paymentForm.controls['expirationYear'].hasError('min')&& paymentForm.controls['expirationYear'].dirty){ Anno minimo : {{currentYear}} } 
                @else if(paymentForm.controls['expirationMonth'].hasError('max')&& paymentForm.controls['expirationMonth'].dirty){
                Mese massimo : 12 }@else if((paymentForm.controls['expirationMonth'].hasError('maxlength')&& paymentForm.controls['expirationMonth'].dirty) ||(paymentForm.controls['expirationYear'].hasError('maxlength')&& paymentForm.controls['expirationYear'].dirty)){
                Massimo 2 valori numerici sia per mese che per anno }@else if(paymentForm.controls['expirationMonth'].valid &&paymentForm.controls['expirationYear'].valid){
                  <p class="text-success">Campo corretto</p>
                }
              </p>
            </div>
            <div class="col-md-4">
              <label for="securityCode" class="py-2">Security code (CVV)</label>
              <input
                type="password"
                formControlName="securityCode"
                placeholder="XXX"
                class="form-control"
                maxlength="3"
              />
              <p class="text-danger pt-1">
               @if(paymentForm.controls['securityCode'].hasError('required')&& paymentForm.controls['securityCode'].touched){ Il campo è richiesto.
                }@else if(paymentForm.controls['securityCode'].hasError('min')&& paymentForm.controls['securityCode'].dirty){ Lunghezza minima 3 cifre }
                 @else if(paymentForm.controls['securityCode'].hasError('max')&& paymentForm.controls['securityCode'].dirty){
                Inserisci massimo 3 cifre }@else if(paymentForm.controls['securityCode'].valid) {
                  <p class="text-success">Campo corretto</p>
                }
              </p>
            </div>
            <div class="col-md-12">
              <label for="cardHolder" class="py-2">Card holder name</label>
              <input
                type="string"
                formControlName="cardHolder"
                placeholder="Mario Rossi"
                class="form-control"
              />
              <p class="text-danger pt-1">
                @if(paymentForm.controls['cardHolder'].hasError('required') && paymentForm.controls['cardHolder'].touched){ Il campo è richiesto.
                }@else if(paymentForm.controls['cardHolder'].hasError('pattern') && paymentForm.controls['cardHolder'].touched){ Inserisci nome e cognome separati da uno spazio.
                }@else if(paymentForm.controls['cardHolder'].valid) {
                  <p class="text-success">Campo corretto</p>
                }
              </p>
            </div>
            <div class="col-12 pt-4">
              <p class="text-right">
                <button class="btn m-2" type="button" (click)="paymentForm.reset();this.paymentForm.updateValueAndValidity();paymentOpened=false">Cancel</button>
                <button class="btn m-2" [disabled]="paymentForm.invalid" (click)="pay()">
                  Pay {{ getTotal(chart) | currency : 'EUR' }}
                </button>
              </p>
            </div>
          </form>
        </div>
      </div>
      }
    </div>
    }
  </div>
</div>
