<nav class="row text-center p-2">
  <div class="col-sm-11 p-2 d-flex justify-content-center px-5">
    <div class="mr-4 text-right">
      <p class="h3 fw-bolder" routerLink="office">Raffaele Caravetta</p>
      <div class="border rounded d-flex">
        <input
          type="search"
          class="ml-3 border-0 shadow-0 pt-1 text-right input"
          placeholder="Search"
          (focus)="showMenu = true; emitMenu.emit(showMenu)"
          (input)="checkLensButton(search.value)"
          (blur)="checkBlur(search)"
          #search
        />
        <p-button
          icon="pi pi-search"
          disabled
          [ngStyle]="{ visibility: showLensButton ? '' : 'hidden' }"
          severity="secondary"
          variant="text"
        />
      </div>
      <p-toast />
      @if(showMenu){
      <div class="position-relative">
        <div
          class="p-1 position-absolute menu bg-light"
          pTooltip="This is a fake menu, done combined id and value, research is made in lower case, considering also a trimmed combination of id and value."
        >
          <p class="text-right">
            <button class="btn p-0" (click)="showMenu = false; emitMenu.emit(showMenu)">
              <i class="pi pi-times text-danger"></i>
            </button>
          </p>
          @for(a of itemsCopy; track a.id){
          <p class="text-left" (click)="showTooltip(a, search)">{{ a.id + ' - ' + a.value }}</p>
          }
        </div>
      </div>
      }
    </div>
    <div class="pt-1">
      <img
        src="/assets/footer/raffaele.jpeg"
        [style.width]="'75px'"
        [style.height]="'75px'"
        alt="personal_image"
      />
    </div>
  </div>
  @if (innerWidth >580) {
  <div class="col-1 pt-4" style="font-size: 1.5rem">
    <i class="pi pi-globe" style="font-size: 1.5rem"></i> EN
  </div>
  }
</nav>
