footer {
    background-color: rgba($color: #ffffff, $alpha: .8);
  .image-div {
    background-size: auto 100% !important;
    background-repeat: no-repeat !important;
    background-position: center top !important;
    min-height: 300px;
  }
}
