<footer class="p-2">
  <div class="container">
    <div class="row text-center">
      <div
        class="col-md-6 image-div"
        [ngStyle]="{ background: 'url(assets/footer/raffaele.jpeg)' }"
      ></div>
      <div class="col-md-6 py-5">
        <p class="h1">Raffaele Caravetta</p>
        <p class="h4">Fullstack web developer</p>
        <p class="h4">
          Passionated about cloud technologies, as well as containerization and orchestration
        </p>
        <div class="row h5 py-3">
          <div class="col-md-6 p-2">Based in Cosenza, Calabria, Italy 📍</div>
          <div class="col-md-6 p-2">Born on October 13, 1994 🍁</div>
          <div class="col-md-6 p-2">High School Diploma – Classical Studies 📚</div>
          <div class="col-md-6 p-2">Sports enthusiast 🏃</div>
          <div class="col-md-6 p-2">Lifelong learner in technology ♾️</div>
          <div class="col-md-6 p-2">Outdoor & adventure enthusiast 🏞️</div>
        </div>
      </div>
    </div>
  </div>
</footer>
