<app-nav
  (click)="showMenu = false"
  [showMenu]="navUpdate"
  (emitMenu)="onReceiveNavUpdate($event)"
></app-nav>
<div class="row" (click)="navUpdate = false">
  @if(innerWidth>950){
  <div class="col-2 pt-5">
    <p class="pl-4 h4 item py-1" (click)="goToRoute('idea')">Idea Behind</p>
    @for(i of items; track i.id){
    <p
      class="pl-4 h4 item py-1"
      [ngClass]="i.id == 13 ? 'text-danger' : ''"
      (click)="goToRoute(i.route)"
    >
      {{ i.title }}
    </p>
    }
  </div>
  }@else {
  <div class="col-1 text-start pl-5 pt-5 position-relative">
    <i class="pi pi-bars" style="font-size: 1.5rem" #menu (click)="openMenu()"></i>
    @if(showMenu){
    <div class="position-absolute top-25 border p-2 px-4 menu bg-light">
      <p class="pl-4 h4 item py-1" (click)="menu.click(); goToRoute('idea')">Idea Behind</p>
      @for(i of items; track i.id){
      <p
        class="pl-4 h4 item py-1"
        [ngClass]="i.id == 13 ? 'text-danger' : ''"
        (click)="menu.click(); goToRoute(i.route)"
      >
        {{ i.title }}
      </p>
      }
    </div>
    }
  </div>
  <div class="col-11 w-100" (click)="showMenu = false" style="height: 125px"></div>
  }
  <div class="col-md-10 m-auto" (click)="showMenu = false">
    @if(showSpinner){
    <mat-spinner class="m-auto"></mat-spinner>
    }@else {
    <router-outlet />
    }
  </div>
</div>
<app-foot (click)="showMenu = false" (click)="navUpdate = false"></app-foot>
