name: Deploy to S3

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Build Angular Application
        working-directory: portfolio-fe
        run: |
          ls
          npm install -g @angular/cli
          npm install
          ng build --configuration=production

      - name: Deploy to S3
        run: |
          ls
          aws s3 sync portfolio-fe/dist/portfolio-fe/browser/* s3://${{ secrets.S3_BUCKET_NAME }} \
            --delete \
            --exclude ".git/*" \
            --exclude ".github/*"
            --include portfolio-fe/dist/portfolio-fe/browser/media/*
